# Dependencies
/node_modules

# Next.js
/.next/
/out/
/.next/cache/

# Production
/build

# Testing
/coverage

# Misc
.DS_Store
*.pem
*.log
*.tmp

# Debug
npm-debug.log*

# Environment Files
.env*

# Vercel
.vercel

# VS Code
.vscode/